$clr-red-100: hsl(4, 100%, 67%) ;
$clr-red-100-semi: hsla(4, 100%, 67%, .1) ;

$clr-neutral-100: hsl(0, 0%, 100%);
$clr-neutral-200: hsl(231, 7%, 60%);
$clr-neutral-300: hsl(235, 18%, 26%);
$clr-neutral-400: hsl(234, 29%, 20%);

$clr-gradient-1: hsl(346, 100%, 66%);
$clr-gradient-2: hsl(14, 99%, 62%);
$clr-gradient-2-semi: hsl(14, 99%, 62%,.4);



