@use "../abstract/" as *;

body{
    align-items: center;
}

.newsletter{
    width: min(100%,toRem(930));
    height: fit-content;
    padding: toRem(24) toRem(24) toRem(24) 3%;
    grid-template-columns: 1fr 45.5%;
    grid-template-rows: repeat(6, min-content) ;
    grid-column-gap: 4.5%;
    border-radius: 2rem;
    
    &__thumb{
        border-radius: .9rem;
    }
    
    &__thumb__container{
        grid-column: 2;
        grid-row: 1/-1;
        align-self: center;
    }

    &__title{
        margin-block-start: -1.6rem;
        grid-row: 2;   
    }

    &__text{
        grid-row: 3;
    }

    &__features{
        grid-row: 4;
    }
}

.sign-in{
    grid-row: 5;
}